@import '~diagram-js/assets/diagram-js.css';

@import 'layout';
@import 'icons';
@import 'palette';
@import 'minimap';

.rnw-container {

  .djs-resizer-visual, .djs-outline, .djs-lasso-overlay {
    shape-rendering: auto !important;
  }

  .djs-label {
    user-select: none;
  }

  .djs-origin-label {
    user-select: none;
  }

}
